header {
  position: fixed;
  width: 100%;
  z-index: 1; /**/
}
header a{
  color : #fff;
} 
header .inner {
  height: 100px;
  padding-top: 44px; /*총 영역이 160px*/
  align-items: flex-end;
}
header .inner h1 {
}
header .inner .wgnb{
  order : -1;
}
header .inner .wgnb a.ham{
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  border-top: 3px solid;
  border-bottom: 3px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
header .inner .wgnb a.ham::before{
  content: "";
  display : block;
  height: 3px;
  background-color: white; /**/
  width: 100%; /* flex를 쓰면 내용만큼 영역이 줄어들기 때문에 width 를 지정해준다.*/
  /*flex-grow : 1; 로 대체할 수 있따. */
}
header .inner h1 a {
  display : flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  text-transform: uppercase;
}
header .inner h1 a img{
  display: block;
  transform : translateY(-12px);
  filter: brightness(100);
}
header .inner ul.gnb {
  align-self: first baseline;
  
}
header .inner ul.gnb li {
  
}
header .inner ul.gnb li h2 {
  
}
header .inner ul.gnb li h2 a {
  
}
header .inner ul.gnb li ul.gnbsub {
  
}
header .inner ul.gnb li ul.gnbsub li {
  
}
header .inner ul.gnb li ul.gnbsub li a {
  
}
header .inner ul.enb {
}
header .inner ul.enb li {
  
}
header .inner ul.enb li a {
  color: black;
}
